@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

:root {
	--header-color: #a4a5a6;
	--main-purple: #83205d;
	--main-purple-hover: #be0a79;
	--body-color: #d4d4d4;
	--main-font: 'Press Start 2P', sans-serif;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	font-family: var(--main-font);
	text-align: center;
	background-color: var(--body-color);
}

/* header */
header {
	display: grid;
	align-items: center;
	grid-template-columns: 1fr 1fr 1fr;
	min-height: 116px;
	background-color: var(--header-color);
	box-shadow: 0 1px 1px gray;
	position: relative;
	transition: margin 0.3s;
}

.arrow {
	width: 40px;
	height: 20px;
	position: absolute;
	top: 100%;
	border-bottom-left-radius: 50%;
	border-bottom-right-radius: 50%;
	background-color: var(--header-color);
	background-repeat: no-repeat;
	background-position: 14px 0;
	background-size: 12px;
	background-image: url('./assets/angle-up-solid.svg');
	transition: background-image 0.3s;
}

header h1 {
	color: var(--main-purple);
	text-shadow: 1px 2px 0px black;
	user-select: none;
}

/* buttons */
button {
	cursor: pointer;
	user-select: none;
	background: var(--main-purple);
	border: transparent;
	border-radius: 20px;
	color: white;
	font-family: var(--main-font);
	width: auto;
	padding: 0.6em 1.2em;
	text-align: center;
	transition: brightness 0.2s;
	text-shadow: 1px 1px 0px black;
	box-shadow: 1px 2px 0px black;
	position: relative;
}

button:hover {
	background-color: var(--main-purple-hover);
}

button:active {
	top: 2px;
	left: 2px;
	outline: 4px solid var(--header-color);
	box-shadow: 1px 2px 0px var(--header-color);
}

#clear-board,
#save-board {
	justify-self: center;
	width: 9em;
	padding: 1em 1.5em;
}

.main-buttons {
	display: flex;
	justify-content: space-evenly;
}

/* colors */
.color {
	width: 32px;
	height: 32px;
	margin: 0.2em;
	border: 1px solid black;
	display: inline-block;
	position: relative;
}

.color:active {
	top: 1px;
	left: 1px;
}

#color-palette {
	padding: 1em;
	position: relative;
	width: max-content;
	margin: 0 auto;
}

.palette-tooltip {
	user-select: none;
	color: white;
	font-size: 0.6em;
	visibility: hidden;
	position: absolute;
	width: max-content;
	top: 50%;
	left: 100%;
	transform: translateY(-50%);
	padding: 0.5em 1em;
	background: var(--main-purple);
	border-radius: 15px;
	opacity: 0;
	transition: opacity 0.3s;
}

.palette-tooltip::after {
	z-index: 99;
	visibility: hidden;
	content: '';
	position: absolute;
	border-right: 5px solid var(--main-purple);
	border-bottom: 5px solid transparent;
	border-top: 5px solid transparent;
	top: 50%;
	left: -4px;
	transform: translateY(-50%);
	opacity: 0;
	transition: opacity 0.3s;
}

#color-palette:hover .palette-tooltip,
#color-palette:hover .palette-tooltip::after {
	visibility: visible;
	opacity: 1;
}

.selected {
	outline: 3px solid rgba(0, 0, 0, 0.226);
}

/* pixel board */
#pixel-board {
	display: grid;
	box-shadow: 0 0 10px black;
	margin: 0 auto;
	margin-bottom: 2em;
}

.pixel {
	background-color: white;
	border: 1px solid rgb(189, 189, 189);
}

/* inputs */
input[type='number'] {
	font-family: var(--main-font);
	background: var(--body-color);
	border: none;
	border-radius: 20px;
	color: black;
	box-shadow: inset 0px 0px 5px 1px gray;
	width: 8em;
	padding: 0.5em 1em;
	text-align: center;
	transition: background-color 0.2s, color 0.2s;
}

input[type='number']:focus-visible {
	outline: none;
}

.inputs {
	display: flex;
	padding: 1em;
}

.board-inputs,
.pixel-inputs {
	display: flex;
	align-items: center;
	flex-direction: column;
	margin: 0.5em;
}

.board-inputs > input,
.pixel-inputs > input {
	margin-bottom: 0.5em;
}

/* color inputs */
input[type='color'] {
	visibility: hidden;
	position: absolute;
}

@media only screen and (max-width: 799px) {
	header {
		grid-template-columns: 1fr 1fr;
	}

	header h1 {
		display: none;
	}
}
