@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
  --queen-position-x: -57px;
  --bishop-position-x: -113px;
  --knight-position-x: -170px;
  --rook-position-x: -227px;
  --pawn-position-x: -283px;

  --black-position-y: -57px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #161512;
  font-family: Roboto, 'sans-serif';
  display: flex;
}

main {
  padding: 1em 0;
  height: 100vh;
  width: 70%;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
}

/* board */
.board-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.board {
  margin: 1em 0;
  width: 450px;
  height: 450px;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.39);
}

.light {
  background: #f0d9b5;
}

.dark {
  background: #b58863;
}

.square[highlighted] {
  box-shadow: inset 0 0 14px green;
}

.square[target] {
  box-shadow: inset 0 0 14px red;
}

/* pieces */
.square[piece],
.selector-piece[piece] {
  background-size: 340px;
  background-image: url('./assets/chess-pieces-sprite.svg');
}

.square[piece='white-king'],
.selector-piece[piece='white-king'] {
  background-position: 0 0;
}

.square[piece='black-king'],
.selector-piece[piece='black-king'] {
  background-position: 0 var(--black-position-y);
}

.square[piece='white-queen'],
.selector-piece[piece='white-queen'] {
  background-position: var(--queen-position-x) 0;
}

.square[piece='black-queen'],
.selector-piece[piece='black-queen'] {
  background-position: var(--queen-position-x) var(--black-position-y);
}

.square[piece='white-rook'],
.selector-piece[piece='white-rook'] {
  background-position: var(--rook-position-x) 0;
}

.square[piece='black-rook'],
.selector-piece[piece='black-rook'] {
  background-position: var(--rook-position-x) var(--black-position-y);
}

.square[piece='white-bishop'],
.selector-piece[piece='white-bishop'] {
  background-position: var(--bishop-position-x) 0;
}

.square[piece='black-bishop'],
.selector-piece[piece='black-bishop'] {
  background-position: var(--bishop-position-x) var(--black-position-y);
}

.square[piece='white-knight'],
.selector-piece[piece='white-knight'] {
  background-position: var(--knight-position-x) 0;
}

.square[piece='black-knight'],
.selector-piece[piece='black-knight'] {
  background-position: var(--knight-position-x) var(--black-position-y);
}

.square[piece='white-pawn'],
.selector-piece[piece='white-pawn'] {
  background-position: var(--pawn-position-x) 0;
}

.square[piece='black-pawn'],
.selector-piece[piece='black-pawn'] {
  background-position: var(--pawn-position-x) var(--black-position-y);
}

/* selectors */
.selector {
  width: 450px;
  height: 56px;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: 1fr;
  border-radius: 5px;
  background: #6b6b6b;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3) inset;
}

.selector-piece {
  transition: background-color 0.2s;
}

.selector-piece:hover {
  background-color: rgba(54, 146, 231, 0.2);
}

.selector-piece[selected] {
  background-color: rgba(54, 146, 231, 0.5);
}

/* trash-can */
.selector-piece[trash] {
  background-size: 35px;
  background-image: url('./assets/trash.svg');
  background-repeat: no-repeat;
  background-position: 10px 9px;
}

/* pointer */
.selector-piece[pointer] {
  background-size: 40px;
  background-image: url('./assets/pointer.svg');
  background-repeat: no-repeat;
  background-position: 8px 8px;
}

/* buttons */
.buttons-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.button {
	background: linear-gradient(to bottom, #3c3934, #33312e 100%);
	color: #999;
	width: 15em;
  height: 3.5em;
	margin: 2em 0;
	text-align: center;
	padding: 1em 0;
	border-radius: 4px;
	cursor: pointer;
	user-select: none;
}

.button:hover {
	background: linear-gradient(to bottom, #44413b, #3b3935 100%);
	color: #ccc;
}

.button:active {
	box-shadow: 0 0 12px #999;
	background: #d64f00;
	color: #fff;
	text-shadow: 0 1px 1px black !important;
}